body {
    background-color: #EEE;
    font-family:Arial, Helvetica, sans-serif
}
a{
    text-decoration: none;
    color: blue;
}
#container {
    background-color: white;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
#header {
    background-color: #66CCFF;
    color: black;
    text-align: center;
    padding: 10px;
}
#content {
    padding: 10px;
}
#nav {
    float: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    border: 1px soild #555
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  li {
    text-align: center;
    border-bottom: 1px soild #555;
  }
  li:last-child {
    border-bottom: none
  }
  li a.active {
    background-color: #04AA6D;
  }
  li a:hover {
    background-color: #555;
    color: white;
  }
#main {
    width: 600px;
    float: right;
}
#footer {
    clear: both;
    padding: 10px;
    background-color: #999999;
    color: white;
    text-align: right;
}